In [ ]:
# pip install pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

### Each column in a DataFrame is a Series

In [ ]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
# You can create a Series from scratch as well:

ages = pd.Series([22, 35, 58], name="Age")

Do something with a DataFrame or Series

In [ ]:
df["Age"].max()

In [ ]:
ages.max()

In [ ]:
df.describe()

How do I read and write tabular data?

In [ ]:
titanic = pd.read_csv("data/titanic.csv")
￼titanic

In [ ]:

titanic.head(8)

In [ ]:
titanic.tail(10)

In [ ]:
# My colleague requested the Titanic data as a spreadsheet.

titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)
￼

In [ ]:
titanic = pd.read_excel("titanic.xlsx", sheet_name="passengers")
￼

In [ ]:
titanic.head()

REMEMBER
Getting data in to pandas from many different file formats or data sources is supported by read_* functions.

Exporting data out of pandas is provided by different to_*methods.

The head/tail/info methods and the dtypes attribute are convenient for a first check.

In [ ]:
titanic = pd.read_csv("data/titanic.csv")
titanic.head()

How do I select a subset of a DataFrame

In [ ]:
How do I select specific columns from a DataFrame

I’m interested in the age of the Titanic passengers.

In [ ]:
ages = titanic["Age"]

In [ ]:
type(titanic["Age"])

In [ ]:
titanic["Age"].shape

I’m interested in the age and sex of the Titanic passengers.

In [ ]:
age_sex = titanic[["Age", "Sex"]]

In [ ]:
type(titanic[["Age", "Sex"]])

In [ ]:
titanic[["Age", "Sex"]].shape

How do I filter specific rows from a DataFrame?

In [ ]:
above_35 = titanic[titanic["Age"] > 35]

In [ ]:
above_35.head()

In [ ]:
titanic["Age"] > 35

In [ ]:
above_35.shape

I’m interested in the Titanic passengers from cabin class 2 and 3.

In [ ]:
class_23 = titanic[titanic["Pclass"].isin([2, 3])]

In [ ]:
class_23.head()

In [ ]:
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]

In [ ]:
class_23.head()

When combining multiple conditional statements, each condition must be surrounded by parentheses (). Moreover, you can not use or/and but need to use the or operator | and the and operator &.

I want to work with passenger data for which the age is known.

In [ ]:
age_no_na = titanic[titanic["Age"].notna()]

In [ ]:
age_no_na.head()

In [ ]:
age_no_na.shape

How do I select specific rows and columns from a DataFrame?

I’m interested in the names of the passengers older than 35 years.

In [ ]:
adult_names = titanic.loc[titanic["Age"] > 35, "Name"]

In [ ]:
adult_names.head()

I’m interested in rows 10 till 25 and columns 3 to 5.

In [ ]:
titanic.iloc[9:25, 2:5]

In [ ]:
titanic.iloc[0:3, 3] = "anonymous"

In [ ]:
titanic.head()

REMEMBER
When selecting subsets of data, square brackets [] are used.

Inside these brackets, you can use a single column/row label, a list of column/row labels, a slice of labels, a conditional expression or a colon.

Select specific rows and/or columns using loc when using the row and column names.

Select specific rows and/or columns using iloc when using the positions in the table.

You can assign new values to a selection based on loc/iloc.